<div class="container">
  <ion-grid class="wrapper">
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div text-center>
          <h4>Login Form</h4>
        </div>
        <div padding>
          <ion-item>
            <ion-input
              type="text"
              [(ngModel)]="username"
              placeholder="Username"
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-input
              type="password"
              [(ngModel)]="password"
              placeholder="Password"
            ></ion-input>
          </ion-item>
        </div>

        <div padding>
          <ion-button
            style="margin-top: 20px;"
            (click)="onLogin()"
            expand="block"
            >Login</ion-button
          >
        </div>
      </ion-col>
    </ion-row>
    <div style="text-align: center;margin-top: 10px;">
      Belum Punya Akun?
      <a [routerLink]="['/register']">Daftar</a>
    </div>
  </ion-grid>
</div>
