<ion-content [fullscreen]="true">
    <div class="container">
        <div class="content--wrapper">
            <div class="post-container" *ngFor="let post of posts">
                <img src="{{post.img}}"/>
                <div class="post-desc">
                    <div class="post--title">{{post.title}}</div>
                    <div class="post--user">
                        <div class="desc text--soft">{{post.author}}
                            {{post.time}}</div>
                        <div class="desc text--soft">from
                            {{post.source}}</div>
                    </div>
                    <div class="button-collection">
                        <ion-button class="button">Fun</ion-button>
                        <ion-button class="button">Not-Fun</ion-button>
                        <ion-button class="button">Comment</ion-button>
                    </div>

                    <div style="margin-top: 3px;" class="desc text--soft">
                        {{post.fun}}
                        fun
                    </div>
                </div>

                <div class="br"></div>
            </div>
        </div>
        <div class="load-more">
            <ion-button class="more-btn">Load More...</ion-button>
        </div>
    </div>
</ion-content>
